{% extends 'base.html' %}
{% block content %}
{% load static %}
<h2>PrestoPantry</h2>
<section class="about">
    <p class="about_para">Here we give some details about what PrestoPantry is about</p>
    <h2>Our Team</h2>
    <div id="team">
        {% for name in site_owner%}
        <div><h3>{{ name.first_name }} {{name.last_name}}</h3> Developer <br>Contact {{name.first_name}} <br>Email: {{name.email}} </div>
        {% endfor %}
        <!-- <div><h3>Adam C Wojdyla</h3> Developer <br>Contact Adam <br>Email: @gmail.com </div>
        <div><h3>Dakota Miller</h3>GitHub Manager, Developer<br> Contact Dakota<br>Email: @gmail.com </div>
        <div><h3>Riley </h3> Developer <br> Contact Riley<br>Email: @gmail.com </div>
        <div><h3>Hector Cruz </h3>UX & Design, Developer<br> Contact Hector<br>Email: @gmail.com </div> -->

    </div>
</section>

{% endblock %}