{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="min-vh-100 edit_account_section">
    <div class="container py-5 h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-8 col-xl-5">
          <div class="card shadow-2-strong signup_card">
              <div class="card-body p-12 edit_account_card">
                <h3>Edit Account Information</h3>
                <hr class="my-4">

                    {% if username_form %}
                    <form action = "{% url 'account' %}" method = "POST" >
                        {% csrf_token %}
                        <div class="form-group" >
                        {% for field in username_form %}
                        <label>{{ field.label }}</label>
                        <div class="form-outline mb-4">{{field}}
                            <button class="btn btn-success btn-sm btn-block" type="submit">Confirm</button>
                        </div>
                        {{ field.help_text }}
                        {{field.errors}}
                        </div>
                        {% endfor %}
                    </form>
                    {% else %}
                    <form action = "{% url 'account' %}" method = "GET" class="account_edit_buttons">
                        <div class="form-outline mb-4 "> <strong>{{request.user.username}}</strong> </div>
                        <button class="btn btn-secondary btn-sm btn-block" name="change_username" type="submit">Edit Display Name</button>
                    </form>
                    {% endif %}

                    {% if email_form %}
                    <form action = "{% url 'account' %}" method = "POST">
                        {% csrf_token %}

                        <div class="form-group" >
                            {% for field in email_form %}
                            <label>{{ field.label }}</label>
                            <div class="form-outline mb-4">{{field}}
                                <button class="btn btn-success btn-sm btn-block" type="submit">Confirm</button>
                            </div>
                            {{ field.help_text }}
                            {{field.errors}}
                            </div>
                            {% endfor %}
                        
                    </form>
                    {% else %}
                    {% if request.user.oauth_user %}
                    <p>Email: {{request.user.email}}
                    {% else %}
                    <form action = "{% url 'account' %}" method = "GET" class="account_edit_buttons">
                        <div class="form-outline mb-4"> <strong>{{request.user.email}}</strong> </div>
                        <button class="btn btn-secondary btn-sm btn-block" name="change_email" type="submit">Edit Email</button>
                    </form>
                    {% endif %}
                    {% endif %}

                    {% if name_form %}
                    <form action = "{% url 'account' %}" method = "POST">
                        {% csrf_token %}
                        <div class="form-group" >
                            {% for field in name_form %}
                            <label>{{ field.label }}</label>
                            <div class="form-outline mb-4">{{field}}
                                {% if field.label == "Last name" %}
                                <button class="btn btn-success btn-sm btn-block" type="submit">Confirm</button>
                                
                                {% endif %}

                            </div>
                            {{ field.help_text }}
                            {{field.errors}}
                        </div>
                        {% endfor %}
                    </form>
                    {% else %}
                    <form action = "{% url 'account' %}" method = "GET" class="account_edit_buttons">
                        <div class="form-outline mb-4"> <strong>{{request.user.first_name}} {{request.user.last_name}}</strong> </div>
                        <button class="btn btn-secondary btn-sm btn-block" name="change_name" type="submit">Edit Full Name</button>
                    </form>
                    {% endif %}

                    <h5 class="success_msg">{{success_msg}}</h5>
                    <hr class="my-2">
                    
                    {% if pass_form %}
                    <form action = "{% url 'account' %}" method = "POST">
                        {% csrf_token %}

                        <div class="form-group" >
                        {% for field in pass_form %}
                            <label class="">{{field.label}}</label>
                            <div class="mb-3">{{field}}</div>
                            {{ field.help_text }}
                            {{field.errors}}
                            {% endfor %}
                        </div>
                        <button class="btn btn-primary btn-sm btn-block" type="submit">Change Password</button>
                    </form>
                    {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}