{% extends 'base.html' %}
{% block content %}
<h2>Edit Account</h2>
<h3>{{success_msg}}</h3>
<h4>
    {% if username_form %}
    <form action = "{% url 'account' %}" method = "POST">
        {% csrf_token %}
        <p>{{username_form}}
        <input type="submit" value="Confirm"></p>
    </form>
    {% else %}
    <form action = "{% url 'account' %}" method = "GET">
        <p>Display name: {{request.user.username}}
        <input name="change_username" type="submit" value="Edit"></p>
    </form>
    {% endif %}

    {% if email_form %}
    <form action = "{% url 'account' %}" method = "POST">
        {% csrf_token %}
        <p>{{email_form}}
        <input type="submit" value="Confirm"></p>
    </form>
    {% else %}
        {% if request.user.oauth_user %}
        <p>Email: {{request.user.email}}
        {% else %}
    <form action = "{% url 'account' %}" method = "GET">
        <p>Email: {{request.user.email}}
        <input name="change_email" type="submit" value="Edit"></p>
    </form>
        {% endif %}
    {% endif %}

    {% if name_form%}
    <form action = "{% url 'account' %}" method = "POST">
        {% csrf_token %}
        <p>{{name_form.as_p}}
        <input type="submit" value="Confirm"></p>
    </form>
    {% else %}
    <form action = "{% url 'account' %}" method = "GET">
        <p>First name: {{request.user.first_name}}</p>
        <p>Last name: {{request.user.last_name}}
        <input name="change_name" type="submit" value="Edit"></p>
    </form>
    {% endif %}

    {% if pass_form %}
    <form action = "{% url 'account' %}" method = "POST">
        {% csrf_token %}
        {{pass_form.as_p}}
        <input type="submit" value="Confirm">
    </form>
    {% endif %}
</h4>
{% endblock %}