{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> -->
    <title>PrestoPantry</title>
  </head>
  <body>

        <nav class="navbar-fixed">
          <div id="links">
              <a href="{% url 'about' %}">About</a>&nbsp;
              <a href="{% url 'home' %}">Home</a>&nbsp;
              {% comment %} <a href="{% url 'index' %}">index</a>&nbsp; {% endcomment %}
              <a href="{% url 'apicall' %}">api test</a>&nbsp;
              <a href="{% url 'search'%}">Search</a>&nbsp;&nbsp;&nbsp;&nbsp;
              
              <div><h1>PrestoPantry</h1></div>
          </div>
        
        </nav>
        
        
      <main class="container">
        
        {% block content %}
        {% endblock %}
    
      </main>
      &nbsp;
      <footer class="page-footer">
        <div class="right"> All Rights Reserved, &copy; 2022 Flavor Town &nbsp;</div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

