{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="landing_header_text" style="background-color: rgb(0, 0, 0);"> 
 
  {% if request.user.is_authenticated and user.first_name %}
  <h1 class="display-4 fw-normal">Welcome back {{user.first_name}} {{user.last_name}}! </h1>
    {% else %} 
    <h1 class="display-4 fw-normal">Welcome {{user.username}} to PrestoPantry!</h1>
  {% endif %}

  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel ">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner " >
      <div class="carousel-item active" data-bs-interval="5000">
     
        <div class="position-relative overflow-auto p-3 p-md-5 m-md-3 text-center bg-transparent">
          
          <div class="col-md-10 p-lg-5 mx-auto my-5 landing_images">
              <h2 class="display-5 fw-normal">Customize your pantry</h2>
                <img src="{% static "images/spoon_ingredients.jpeg" %}" class="d-block w-100 " alt="...">
              <p class="lead fw-normal landing_descr" >Search for ingredients, add them to your online pantry and search for recipes!</p>
              <a class="btn btn-outline-danger btn-lg" href="{% url 'pantry' %}">Go to My Pantry</a>
            </div>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
     
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-transparent">
          <div class="col-md-10 p-lg-5 mx-auto my-5 landing_images">
              <h2 class="display-5 fw-normal">Ingredient Searching Made Simple</h2>
              <img src="{% static "images/vegetables1.png" %}" class="d-block w-100  " alt="...">
              <p class="lead fw-normal landing_descr">Search for ingredients in your pantry and add them to your online pantry.</p>
              <a class="btn btn-outline-danger btn-lg" href="{% url 'search-pantry-ingredients' %}">Start Searching</a>
            </div>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
     
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-transparent">
            <div class="col-md-10 p-lg-5 mx-auto my-5 landing_images">
              <h2 class="display-5 fw-normal">Recipe Community</h2>
              <img src="{% static "images/community.jpeg" %}" class="d-block w-100  " alt="...">

              <p class="lead fw-normal landing_descr">Check out the recipe community where you can explore and share recipes with others.</p>
              <a class="btn btn-outline-danger btn-lg" href="#">Coming Soon!</a>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" >
      <span><em class='fas fa-angle-left' style='font-size:54px;color:rgb(64, 203, 253)'></em></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span><em class='fas fa-angle-right' style='font-size:54px;color:rgb(64, 203, 253)'></em></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>

{% endblock %}