{% extends 'base.html' %}
{% block content %}
{% load static %}
<h2>Ingredient Search Central</h2>
<section class="pantry">
 <p>Search for ingredients to add to your pantry!</p>
    
    
<form action = "{% url 'pantry-ingredients' %}" method = "post">
    {% csrf_token %}
    <label for="ingredient_field"> <b>Search for an Ingredient:</b> </label>
    <input id="ingredient_field"  type="text" placeholder="onion" name="ingredient_name">
    <!-- <label for="serving_size_field">Serving Size: </label>
    <input id="serving_size_field" type="text" name="serving_size"> -->
    <input type="submit" value="SEARCH" name="ingredient_button">
</form>


<form action = "{% url 'pantry-ingredients' %}" method = "post">
    {% csrf_token %}
    <label for="ingredient_name"> <b>Search for a recipe via ingredients:</b> </label>
    <input id="ingredients" type="text" placeholder="pepperoni, cheese, olive" name="ingredients">
    <input type="submit" value="SEARCH" name="ingredient_per_recipe_button">
</form>

<!-- <form action = "{% url 'pantry-ingredients' %}" method = "post">
    {% csrf_token %}

</form> -->


{% if context %}

    <h3>{{context.ingredient_name}}</h3>
    <h5>Image: {{ context.image }}</h5>

    {% for item in context.ingredient_info %}
        <li> <b>Ingredient:</b> {{item.0}} |&nbsp;&nbsp;| <b>Id:</b> {{item.1}} <b>Upc:</b> {{item.2}}</li>
        <form method = "post">
            {% csrf_token %}
            <input type="hidden" value="{{item.1}}" name="ingredient_id">
            <input type="hidden" value="{{item.0}}" name="ingredient_name">
            <input type="hidden" value="{{item.2}}" name="upc">
            <input type="submit" value="Add" name="add_ingredient_button">
        </form>
    {% endfor %}


{% elif recipe_context %}

    {% for item in recipe_context.recipe  %}
        <h5><b>-------------Recipe Info-------------</b></h5>
        <li>Recipe Name: {{item.1}}</li>
        <li>Recipe Id: {{item.0}}</li>
        <img src="{{item.2}}" alt="">
        
        
            <h5><b>Missing Ingredients</b></h5>
            {% for element in item.3 %}
            <li>Missing Ingredient Id: {{element.0}} Missing Ingredient: {{ element.1}}</li>
            <img src="{{element.2}}" alt="">
            {% empty %}
            <li>No Missing Ingredients</li>
            {% endfor %}

            <h5><b>Used Ingredients</b></h5>
            {% for element in item.4  %}
            <li>Used Ingredient Id: {{element.0}} Used Ingredient: {{ element.1}}</li>
            <img src="{{element.2}}" alt="">
            {% empty %}
            <li>No Used Ingredients</li>
            {% endfor %}

            <h5><b>Unused Ingredients</b></h5>
            {% for element in item.5  %}
            <li>Unused Ingredient Id: {{element.0}} Unused Ingredient: {{ element.1}}</li>
            <img src="{{element.2}}" alt="">  
            {% empty %}
            <li>No Unused Ingredients</li>
            {% endfor %}
        
    {% endfor %}
        
{% else %}
<h3>No Searches found...</h3>
{% endif %}

</section>

{% endblock %}