{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="min-vh-100 search_ingredient_section rounded">
    <div class="container text-white text-center py-4 ">
<form action = "{% url 'search-pantry-ingredients' %}" method = "post">
    {% csrf_token %}
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-4 border rounded">
            <label for="ingredient_field" class="pb-3 fw-bolder fs-4">Search for an Ingredient</label>
                <div class="text-danger">
                    <p>{{api_frequency}}</p>
                </div>
                <input class="form-control" id="ingredient_field"  type="text" required="required" placeholder="Herdez Green Salsa" name="ingredient_name">
                <br>
                <input type="submit" value="Search" name="ingredient_button" class="btn btn-secondary btn-lg mb-3">
        </div>
    </div>
</form>
</div>

    <h3 class="text-center text-white">{{error}}</h3>
    <div class="container-fluid">
    <div class="row">
        {% for item in ingredient_info %}
        
        <div class="card-columns col-sm col-xs-12 g-4">
            <div class="card mx-auto ingredient_cards" style="width: 18rem;">

                {% if item.0 == None %}
                <img class="card-img-top img-fluid"  src="{% static "images/hcruz.png" %}" alt="NO IMAGE">
                {% else %}
                <img class="card-img-top img-fluid"  src="{{ item.0 }}" alt="NO IMAGE">
                {% endif %}

    
            <div class="card-body">
                    <ul class="list-group list-group-flush bg-transparent">
                        <li class="list-group-item overflow-auto" style="height: 7rem;"><strong>Ingredient:</strong>{{item.1}}</li>
                        <li class="list-group-item"><strong>Id:</strong>{{item.2}}</li>
                        <li class="list-group-item"><strong>Upc:</strong>{{item.3}}</li>
                    </ul>

                    <hr class="my-2">

                    {% if item.4 == True %}
                    <div class="text-success">
                       <strong>Ingredient Added!</strong>
                    </div>
                    {% elif item.4 == False %}
                    <div class="text-danger">
                       <strong>Ingredient Already in Pantry!</strong>
                    </div>

                    {% else %}
                    
                        <form method = "post">
                            {% csrf_token %}
                            <input type="hidden" value="{{item.2}}" name="ingredient_id">
                            <input type="hidden" value="{{item.1}}" name="ingredient_name">
                            <input type="hidden" value="{{item.3}}" name="upc">
                            <input type="submit" value="Add" name="add_ingredient_button" class="btn btn-success btn-md ">
                        </form>
                    
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
        <br>  
        </section>
        
{% endblock %}