{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="text-danger">
<p>{{api_frequency}}</p>
</div>

<div class="container text-white text-center ">
<form action = "{% url 'search-pantry-ingredients' %}" method = "post">
    {% csrf_token %}
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-4 border rounded ">
            <label for="ingredient_field" class="pb-3 fw-bolder fs-4">Search for an Ingredient</label>
                <input class="form-control" id="ingredient_field"  type="text" required="required" placeholder="Herdez Green Salsa" name="ingredient_name">
                <br>
                <input type="submit" value="Search" name="ingredient_button" class="btn btn-secondary btn-lg mb-3">
            </div>
    </div>
</form>
</div>

<hr class="my-4 text-white">

<!--  SAVE FOR DISPLAYING INGREDIENTS -->
{% comment %}
<form action = "{% url 'search-pantry-ingredients' %}" method = "post">
    {% csrf_token %}
    <label for="ingredient_name fw-bolder">Search for a recipe via ingredients:</label>
    <input id="ingredients" type="text" placeholder="pepperoni, cheese, olive" name="ingredients">
    <input type="submit" value="SEARCH" name="ingredient_per_recipe_button">
</form>
  
{% endcomment %}

    <h3 class="text-center text-white">{{error}}</h3>

    <div class="row ps-4">
        {% for item in ingredient_info %}
        <div class=" col-sm-2 col-md-3 col-lg-3 g-4">
            <div class="card ingredient_cards" style="width: 18rem;">

                {% if item.0 == None %}
                <img class="card-img-top" src="{% static "images/hcruz.png" %}" alt="...">
                {% else %}
                <img class="card-img-top" src="{{ item.0 }}" alt="NO IMAGE">
                {% endif %}

             
            <div class="card-body">
                    <ul class="list-group list-group-flush bg-transparent">
                        <li class="list-group-item overflow-auto" style="height: 7rem;"><strong>Ingredient:</strong>{{item.1}}</li>
                        <li class="list-group-item"><strong>Id:</strong>{{item.2}}</li>
                        <li class="list-group-item"><strong>Upc:</strong>{{item.3}}</li>
                    </ul>

                    <hr class="my-2">

                    {% if item.4 == True %}
                    <div class="text-success">
                       <b>Ingredient Added!</b>
                    </div>
                    {% elif item.4 == False %}
                    <div class="text-danger">
                       <b>Ingredient Already in Pantry!</b>
                    </div>

                    {% else %}
                    
                        <form method = "post">
                            {% csrf_token %}
                            <input type="hidden" value="{{item.2}}" name="ingredient_id">
                            <input type="hidden" value="{{item.1}}" name="ingredient_name">
                            <input type="hidden" value="{{item.3}}" name="upc">
                            <input type="submit" value="Add" name="add_ingredient_button" class="btn btn-success btn-md ">
                        </form>
                    
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>


        <!--SAVE FOR SHOWING RECIPES  -->
{% comment %}
  
{% elif recipe_context %}

    {% for item in recipe_context.recipe  %}
        <h5 class="fw-bolder">-------------Recipe Info-------------</h5>
        <li>Recipe Name: {{item.1}}</li>
        <li>Recipe Id: {{item.0}}</li>
        <img src="{{item.2}}" alt="">
        
        
            <h5 class="fw-bolder">Missing Ingredients</h5>
            {% for element in item.3 %}
            <li>Missing Ingredient Id: {{element.0}} Missing Ingredient: {{ element.1}}</li>
            <img src="{{element.2}}" alt="">
            {% empty %}
            <li>No Missing Ingredients</li>
            {% endfor %}

            <h5 class="fw-bolder">Used Ingredients</h5>
            {% for element in item.4  %}
            <li>Used Ingredient Id: {{element.0}} Used Ingredient: {{ element.1}}</li>
            <img src="{{element.2}}" alt="">
            {% empty %}
            <li>No Used Ingredients</li>
            {% endfor %}

            <h5 class="fw-bolder">Unused Ingredients</h5>
            {% for element in item.5  %}
            <li>Unused Ingredient Id: {{element.0}} Unused Ingredient: {{ element.1}}</li>
            <img src="{{element.2}}" alt="">  
            {% empty %}
            <li>No Unused Ingredients</li>
            {% endfor %}
        
    {% endfor %}

    {% endcomment %}
        
{% endblock %}