{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if request.user.is_authenticated%}



<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">Hey, {{user.username}} Welcome!</h1>
    <!-- <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
    <a href="{% url 'landing_page' %}" class="btn btn-outline-secondary btn-lg">Let's Get Started</a>
  </div>
  <!-- <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
</div>

{% else %}

<section class="vh-100 signup_section">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-8 col-xl-5">
          <div class="card shadow-2-strong signup_card">
              <div class="card-body p-5 text-left">
                <h3 class="mb-5 text-center">Sign Up</h3>
  
              <form action = "{% url 'signup' %}" method = "POST">
                {% csrf_token %}
              <div class="form-outline mb-4">{{form|crispy}}</div>
              <button class="btn btn-primary btn-lg btn-block " type="submit">Let's Go!</button>
             </form>

             <hr class="my-4">
              <button class="btn btn-lg btn-block btn-primary google_login_button" href="{% url 'social:begin' 'google-oauth2' %}"
                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
  
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endif %}
{% endblock %}