.errorlist{color:red;
  font-weight:bold;
}
.main_container{
  background-color: rgb(238, 238, 238);
}

.navbar-brand{
  font-size: 2.2rem;
}
.nav_bar{
  background-color: rgba(175, 175, 175);
  padding-left: .5rem;
  padding-right: .5rem;
}

.btn-outline-secondary{
font-size: 110%;
}

.padd_nav_button > li{
  padding-right: .4rem;
}
/* .login_signup_button{
  padding-right: .4rem;
}
.logout_button{
  padding-left: .4rem;
} */

/* .navbar{
  background-color: rgba(175, 175, 175);
} */
.footer{
  background-color: rgb(175, 175, 175);
}

.fa-linkedin-in{
  font-size: 2.6rem;
  color: white;
}
.fa-github{
  font-size: 2.6rem;
  color: white;
}
.fa-linkedin-in:hover{
  color: black ;
}
.fa-github:hover{
  color: black;
}
.about-button > a{
  font-size: 140%;
  color: white;
}
.about-button > a:hover{
  text-decoration: none;
  color: black;
}
.about-button{
  padding-bottom: .4rem;
}
.copyright{
  font-size: 110%;
}

.about_us_links{
  background-color: grey;
  border-radius: 1rem;
}
.about_us_links > a{
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  font-size: 6.4rem;
}
.about_us_card{
  max-width: 80rem;
  border-radius: 2.0rem;
  border-width: .1rem;
  background-color: rgb(196,196,196, .400);
}
.about_img{
  border-radius: 2.0rem;
}
.about_us_text > h3{
  color: rgb(110, 166, 251);
  
}
.about_us_text > p{
  font-size: 1.3rem;
  color: rgb(110, 166, 251);
}